@theme {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cad5e2;
  --color-slate-400: #90a1b9;
  --color-slate-500: #62748e;
  --color-slate-600: #45556c;
  --color-slate-700: #314158;
  --color-slate-800: #1d293d;
  --color-slate-900: #0f172b;
  --color-slate-950: #020618;

  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd4;
  --color-orange-200: #ffd6a7;
  --color-orange-300: #ffb86a;
  --color-orange-400: #ff8904;
  --color-orange-500: #ff6900;
  --color-orange-600: #f54900;
  --color-orange-700: #ca3500;
  --color-orange-800: #9f2d00;
  --color-orange-900: #7e2a0c;
  --color-orange-950: #441306;

  --color-teal-50: #f0fdfa;
  --color-teal-100: #cbfbf1;
  --color-teal-200: #96f7e4;
  --color-teal-300: #46ecd5;
  --color-teal-400: #00d5be;
  --color-teal-500: #00bba7;
  --color-teal-600: #009689;
  --color-teal-700: #00786f;
  --color-teal-800: #005f5a;
  --color-teal-900: #0b4f4a;
  --color-teal-950: #022f2e;

  --color-indigo-50: #eef2ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-200: #c6d2ff;
  --color-indigo-300: #a3b3ff;
  --color-indigo-400: #7c86ff;
  --color-indigo-500: #615fff;
  --color-indigo-600: #4f39f6;
  --color-indigo-700: #432dd7;
  --color-indigo-800: #372aac;
  --color-indigo-900: #312c85;
  --color-indigo-950: #1e1a4d;

  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d4ff;
  --color-purple-300: #dab2ff;
  --color-purple-400: #c27aff;
  --color-purple-500: #ad46ff;
  --color-purple-600: #9810fa;
  --color-purple-700: #8200db;
  --color-purple-800: #6e11b0;
  --color-purple-900: #59168b;
  --color-purple-950: #3c0366;

  --color-rose-50: #fff1f2;
  --color-rose-100: #ffe4e6;
  --color-rose-200: #ffccd2;
  --color-rose-300: #ffa1ad;
  --color-rose-400: #ff637e;
  --color-rose-500: #ff2056;
  --color-rose-600: #ec003f;
  --color-rose-700: #c60036;
  --color-rose-800: #a50036;
  --color-rose-900: #8b0836;
  --color-rose-950: #4d0218;

  --color-gray-50: #ffffff;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d1d5dc;
  --color-gray-400: #d4d4d4;
  --color-gray-500: #a1a1a1;
  --color-gray-600: #737373;
  --color-gray-700: #525252;
  --color-gray-800: #404040;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;

  --color-gray-alpha-50: rgba(255, 255, 255, 0.02);
  --color-gray-alpha-100: rgba(245, 245, 245, 0.04);
  --color-gray-alpha-200: rgba(229, 229, 229, 0.06);
  --color-gray-alpha-300: rgba(209, 213, 220, 0.08);
  --color-gray-alpha-400: rgba(212, 212, 212, 0.12);
  --color-gray-alpha-500: rgba(161, 161, 161, 0.14);
  --color-gray-alpha-600: rgba(115, 115, 115, 0.16);
  --color-gray-alpha-700: rgba(82, 82, 82, 0.2);
  --color-gray-alpha-800: rgba(64, 64, 64, 0.24);
  --color-gray-alpha-900: rgba(23, 23, 23, 0.32);
  --color-gray-alpha-950: rgba(10, 10, 10, 0.4);

  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa2a2;
  --color-red-400: #ff6467;
  --color-red-500: #fb2c36;
  --color-red-600: #e7000b;
  --color-red-700: #c10007;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;

  --color-red-alpha-50: rgba(254, 242, 242, 0.02);
  --color-red-alpha-100: rgba(255, 226, 226, 0.04);
  --color-red-alpha-200: rgba(255, 201, 201, 0.06);
  --color-red-alpha-300: rgba(255, 162, 162, 0.08);
  --color-red-alpha-400: rgba(255, 100, 103, 0.12);
  --color-red-alpha-500: rgba(251, 44, 54, 0.14);
  --color-red-alpha-600: rgba(231, 0, 11, 0.16);
  --color-red-alpha-700: rgba(193, 0, 7, 0.2);
  --color-red-alpha-800: rgba(159, 7, 18, 0.24);
  --color-red-alpha-900: rgba(130, 24, 26, 0.28);
  --color-red-alpha-950: rgba(70, 8, 9, 0.3);

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a7;
  --color-green-400: #05df72;
  --color-green-500: #00c950;
  --color-green-600: #00a63e;
  --color-green-700: #008235;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;

  --color-green-alpha-50: rgba(240, 253, 244, 0.02);
  --color-green-alpha-100: rgba(220, 252, 231, 0.04);
  --color-green-alpha-200: rgba(185, 248, 207, 0.06);
  --color-green-alpha-300: rgba(123, 241, 167, 0.08);
  --color-green-alpha-400: rgba(5, 223, 114, 0.12);
  --color-green-alpha-500: rgba(0, 201, 80, 0.14);
  --color-green-alpha-600: rgba(0, 166, 62, 0.16);
  --color-green-alpha-700: rgba(0, 130, 53, 0.2);
  --color-green-alpha-800: rgba(1, 102, 48, 0.24);
  --color-green-alpha-900: rgba(13, 84, 43, 0.32);
  --color-green-alpha-950: rgba(3, 46, 21, 0.3);

  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef9c2;
  --color-yellow-200: #fff085;
  --color-yellow-300: #ffdf20;
  --color-yellow-400: #fdc700;
  --color-yellow-500: #f0b100;
  --color-yellow-600: #d08700;
  --color-yellow-700: #a65f00;
  --color-yellow-800: #894b00;
  --color-yellow-900: #733e0a;
  --color-yellow-950: #432004;

  --color-yellow-alpha-50: rgba(254, 252, 232, 0.02);
  --color-yellow-alpha-100: rgba(254, 249, 194, 0.04);
  --color-yellow-alpha-200: rgba(255, 240, 133, 0.06);
  --color-yellow-alpha-300: rgba(255, 223, 32, 0.08);
  --color-yellow-alpha-400: rgba(253, 199, 0, 0.12);
  --color-yellow-alpha-500: rgba(240, 177, 0, 0.14);
  --color-yellow-alpha-600: rgba(208, 135, 0, 0.16);
  --color-yellow-alpha-700: rgba(166, 95, 0, 0.2);
  --color-yellow-alpha-800: rgba(137, 75, 0, 0.24);
  --color-yellow-alpha-900: rgba(115, 62, 10, 0.28);
  --color-yellow-alpha-950: rgba(67, 32, 4, 0.3);
}
