@import 'tailwindcss';

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --default-font-family: 'Fira Code', 'sans-serif';
  }
}

@theme {
  --color-primary-1: #01080e;
  --color-primary-2: #011627;
  --color-primary-3: #011221;

  --color-secondary-1: #607b96;
  --color-secondary-2: #3c9d93;
  --color-secondary-3: #4d5bce;
  --color-secondary-4: #ffffff;

  --color-accent-1: #fea55f;
  --color-accent-2: #43d9ad;
  --color-accent-3: #e99287;
  --color-accent-4: #c98bdf;

  --color-line: #1e2d3d;
}

body {
  font-size: 18px;
  color: #607b96;
  background-color: #010c15;
}

.container {
  @apply max-w-[1782px] mx-auto px-5 2xl:px-0;
}
