@import 'tailwindcss';
@import '../fonts/fonts.css';
@import './typography.css';
@import './colors.css';

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --default-font-family: 'Fira Code', 'sans-serif';
}

body {
  @apply bg-slate-950 p-[15px] text-lg/normal text-slate-50 2xl:py-[70px] 2xl:pr-[62px] 2xl:pl-[63px];
}

.container {
  @apply mx-auto max-w-[1780px] px-5 2xl:px-0;
}
