@import 'tailwindcss';
@import '../fonts/fonts.css';
@import './typography.css';
@import './colors.css';

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --default-font-family: 'Fira Code', 'sans-serif';
}

body {
  @apply bg-slate-950 py-[70px] pr-[62px] pl-[63px] text-lg/normal text-slate-50;
}

.container {
  @apply mx-auto max-w-[1780px] px-5 2xl:px-0;
}
