@import 'tailwindcss';
@import '../fonts/fonts.css';
@import './typography.css';
@import './colors.css';

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@theme {
  --default-font-family: 'Fira Code', 'sans-serif';
}

body {
  font-size: 18px;
}
