.title-h1 {
  /* @apply text-[60px]/[1.1]; */
  font-size: 60px;
  line-height: 1.1;
}

.title-h1b {
  @apply text-[60px]/[1.1] font-bold;
}

.title-h2 {
  font-size: 48px;
  line-height: 1.2;
  /* @apply text-[48px]/[1.2]; */
}

.title-h3 {
  @apply text-[36px]/[1.3];
}

.title-h4 {
  @apply text-[30px]/[1.4];
}

.title-h5 {
  @apply text-[24px]/[1.4];
}

.title-h6 {
  @apply text-xl/normal;
}

.text-step-1 {
  @apply text-[14px]/[1.4];
}

.text-step-2 {
  @apply text-base/normal;
}

.text-step-3 {
  @apply text-lg/normal;
}

.text-step-4 {
  @apply text-xl/normal;
}

.text-step-5 {
  @apply text-[24px]/[1.4];
}

.text-step-6 {
  @apply text-[30px]/[1.4];
}

.text-step-7 {
  @apply text-[36px]/[1.3];
}

.text-step-8 {
  @apply text-[48px]/[1.2];
}

.text-step-9 {
  @apply text-[60px]/[1.1];
}
