.title-h1 {
  @apply text-[60px]/[1.1];
}

.title-h2 {
  @apply text-[48px]/[1.2];
}

.title-h3 {
  @apply text-[36px]/[1.3];
}

.title-h4 {
  @apply text-[30px]/[1.4];
}

.title-h5 {
  @apply text-[24px]/[1.4];
}

.title-h6 {
  @apply text-xl/normal;
}

.text-1 {
  @apply text-[14px]/[1.4];
}

.text-2 {
  @apply text-base/normal;
}

.text-3 {
  @apply text-lg/normal;
}

.text-4 {
  @apply text-xl/normal;
}

.text-5 {
  @apply text-[24px]/[1.4];
}

.text-6 {
  @apply text-[30px]/[1.4];
}

.text-7 {
  @apply text-[36px]/[1.3];
}

.text-8 {
  @apply text-[48px]/[1.2];
}

.text-9 {
  @apply text-[60px]/[1.1];
}
